.card {padding: 5px; background-color: #e7e7e7; margin: 10px;min-height: 200px; cursor: pointer; align-items: center;}
.card>h4,h6 {padding: 5px;}
.card > img {width: 50%;}
.right {float: right;}
.loader_cont { position: fixed; width: 100%; height: 100%; background-color: 0, 0, 0, 0.5; display: flex; align-items: center; justify-content: center;}
.loader_wrapper { width: 50px; height: 50px;}

.loader4 {
    width:45px;
    height:45px;
    display:inline-block;
    padding:0px;
    border-radius:100%;
    border:5px solid;
    border-top-color:rgba(246, 36, 89, 1);
    border-bottom-color:rgba(255,255,255, 0.3);
    border-left-color:rgba(246, 36, 89, 1);
    border-right-color:rgba(255,255,255, 0.3);
    -webkit-animation: loader4 1s ease-in-out infinite;
    animation: loader4 1s ease-in-out infinite;
  }
  @keyframes loader4 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
  @-webkit-keyframes loader4 {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
  }